@page
@model WalkingDinner.Pages.NewFolder1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].SubscriptionStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].IBAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].AdminEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].AccessCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].AdminCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner[0].IsActivated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dinner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
