@page
@model WalkingDinner.Pages.DebugModel
@using WalkingDinner.Extensions
@{
    ViewData["Title"] = "Debug";
}

<h1>Debug</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].SubscriptionStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].IBAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].AdminEmailAddress)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Dinners[0].AccessCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].AdminCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Dinners[0].IsActivated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dinners) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmailAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AccessCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                <a asp-page="@(ModelPath.Get<Management.IndexModel>())" asp-route-DinnerID="@item.ID" asp-route-AdminCode="@item.AdminCode" >DEBUG</a>
            </td>
        </tr>
}
    </tbody>
</table>
