@page "{CoupleID}/{AdminCode}"
@model WalkingDinner.Pages.Invitation.SeeInvitationModel
@using WalkingDinner.Extensions
@{
    ViewData[ "Title" ] = "Landing";
}

<h1>Landing</h1>

@if ( !Model.Couple.Dinner.HasPrice ) {
    <h3>Gratis diner:</h3>
    <form asp-page-handler="Accept" method="post">
        <button class="btn btn-default">Accepteer uitnodiging</button>
    </form>
} else {

    <h3>Het dinner kost <span>@Html.DisplayFor( model => model.Couple.Dinner.Price )</span></h3>
    <form asp-page-handler="Payment" method="post">
        <button class="btn btn-default">Ga naar betalen</button>
    </form>
}

<div>
    <h4>Dinner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Couple.Dinner.Title )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Couple.Dinner.Title )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Couple.Dinner.Description )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Couple.Dinner.Description )
        </dd>
        <dt class="col-sm-2">
            @{ #warning WARNING! ADRESS MISSING }
            @Html.DisplayNameFor( model => model.Couple.Dinner.Address.Street )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Couple.Dinner.Address.Street )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Couple.Dinner.Date )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Couple.Dinner.Date )
        </dd>
    </dl>
</div>
